/* Styles for the page header */

header.page-header {
    height: 20rem;
    border-bottom: 4px solid #1d1d1d;
}

header.page-header .container {
    padding: 1rem;
    position: relative;
}

header.page-header h1 {
    margin: 0;
    font-size: 6rem;
    padding-top: 3rem;
}

header.page-header p {
    font-size: 2rem;
    font-style: italic;
}

/* TODO: header.page-header .register */
header.page-header .register {
    display:block;
    height: 10rem;
    width: 16rem;
    top:2rem;
    right:3.5rem;
    padding-top:6rem;
    position: absolute;
    font-size:2rem;
    color:#fff;
    text-shadow:1px 1px 2px red;
    text-align:center;
    text-decoration:none;
    background:linear-gradient(30deg, #a80000, #740404);
    -ms-border-radius:100%;
    border-radius:100%;
    transform:rotate(6deg)
}

/* TODO: header.page-header .register:hover */
header.page-header .register:hover {
    background:linear-gradient(30deg, #bc0101, #8c0909);
}

/* TODO: header.page-header .register:before */
header.page-header .register:before {
    display: block;
    position: absolute;
    top: -.7rem;
    right: -.7rem;
    height: 16.8rem;
    width: 16.8rem;
    content: "";
    border-radius:100%;
    border:2px dotted #740404;
}

header.page-header .register .free {
    font-size: 80%;
}
